################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://www.sqlite.org/sqlite-3.5.9.tar.gz
md5sum = b58412904b42fe49e5a281e99da0fd72
configure-options=--disable-tcl
pending-make-install-hook  =  ${buildout:directory}/h.py:h
make-targets-cygwin=all 
                    dll
cygwin-patches=${buildout:directory}/cygwin.patch
               ${buildout:directory}/cygwin-readline.patch

patch-options=-Np1
environment=
    MINITAGE_READLINE=${buildout:directory}/../readline-5.2/parts/part
    
